{% extends "base.html" %}
{% block title%}
home page
{% endblock %}
{% block content %}
<div class="jumbotron text-center">
  <h1>John Bryce - Extreme Python Bootcamp</h1>
  <br />
  <h4>Final Project - Students Performance In Exams</h4>
  <br />
  <p><em>Name:</em> Saar Cohen | <em>Name:</em> Hila Aveksis</p>
</div>

<div class="container">
  <div class="row justify-content-around">
    <div class="card col-5" style="width:500px">
      <div class="card-body">
        <h4 class="card-title">Saar Cohen</h4>
        <p class="card-text">
          Recently a Chip Validation Engineer, with a passion to Data Science.
          <br />
          B.Sc. in Computer Science and possess a deep knowledge in web application development.
          <br />
          Looking for my next challenge as a Fullstack developer or Data Scientist.
        </p>
        <a href="https://saarcohenn.github.io/portfolio/" target="_blank" rel="noopener noreferrer"
          class="card-link">Web
          Site</a>
        <a href="https://www.github.io/saarcohenn/" target="_blank" rel="noopener noreferrer"
          class="card-link">GitHub</a>
        <a href="https://www.linkedin.com/in/saohen/" target="_blank" rel="noopener noreferrer"
          class="card-link">LinkedIn</a>
      </div>
    </div>
    <div class="card col-5" style="width:500px">
      <div class="card-body">
        <h4 class="card-title">Hila Aveksis</h4>
        <p class="card-text">
          Currently work as a Fullstack Developer at Keshet Media Group.
          <br/>
          Work with ASP.NET Core 3 and Angular 9+.
          <br />
          B.Sc. in Computer Science and possess a deep knowledge in web application development.
        </p>
        <a href="https://www.github.com/hilaa936/" target="_blank" rel="noopener noreferrer"
          class="card-link">Web
          Site</a>
        <a href="https://www.github.com/hilaa936/" target="_blank" rel="noopener noreferrer"
          class="card-link">GitHub</a>
        <a href="https://www.linkedin.com/in/hila-aveksis-69799510a/" target="_blank" rel="noopener noreferrer"
          class="card-link">LinkedIn</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}